$primary: #07548C;
$secondary: #F9F9F9;
$tertiary: #E1E9EE;
$quaternary: #0E0D0D;

$page-bg: $secondary;

$header-bg: $primary;
$top-footer-bg: $primary;
$top-footer-icon-text: $tertiary;
$bot-footer-bg: $quaternary;

$primary-btn: #A6121F;
$primary-btn-hover: $secondary;
$secondary-btn: #B5CCDD;
$secondary-btn-hover: $secondary;

$primary-text: $quaternary;
$secondary-text: $secondary;
$img-credit: #848383;