@mixin standard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 44px;
    border-radius: 5px;
    text-decoration: none;

    // ==================== MEDIA QUERIES ====================
    @media only screen and (min-width: 901px) {
        width: 150px;
    }
}